body.app-layout{
    display:grid;
    grid-template-rows: var(--header-height) 1fr;
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
    min-height: 100vh;
    overflow: hidden;
}

app-header{
    grid-area: header;
}

body.app-layout > main{
    grid-area: main;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 50px;
    
}

sidebar-nav{
    grid-area: sidebar;
}